<div class="jumbotron">
  <h1>FLUSHBRO</h1>
  <h2>It's like Flipboard, but for sorcerers.</h2>
  <div class="row">
    <div class="col-xs-6">
      <p>Taste the happy, Michael. Taste it. It tastes kind of like sad. Why are you squeezing me with your body? Touché, Pandora. I've always been deeply passionate about nature. Perhaps you remember Neuterfest? I'll never forget your wedding. I've always been deeply passionate about nature. Perhaps you remember Neuterfest? I'll never forget your wedding.</p>
    </div>
    <div class="col-xs-6">
      <p>For there's a man inside me, and only when he's finally out, can I walk free of pain. I am getting rid of this thing. It has caused me nothing but pride and self-respect. Also, your knee is on my heart. And here you are coming out of your mother's third base!</p>
    </div>
  </div>
</div>

<div class="container">
  <h2>Meet the Team</h2>
  <br>
  <div class="row text-center" >
    <div class="col-xs-4">
      <img class="img-responsive img-circle" src="http://www.douchearchives.com/douche/1112/-douche-1324036611.jpg">
        <h3>Chad</h3>
        <h5>CEO</h5>
        <p>Here’s to the people we’ve met, and to the people we’ve fucked, and to those of us who’ve had no such luck. Here’s to beer in the glass, and vodka in the cup. Here’s to pokin’ her in the ass so she won’t get knocked up. Here’s to all of you, and here’s to me, together as friends we’ll always be. But if we should ever disagree, then FUCK ALL OF YOU, HERE’S TO ME!”</p>
    </div>
    <div class="col-xs-4">
      <img class="img-responsive img-circle" src="http://www.douchearchives.com/douche/small/1105/-douche-1306752935.jpg">
    <h3>Skyler</h3>
    <h5>CFO</h5>
    <p> My point, Dude, is why should we settle for twenty grand when we can keep the entire million. Am I wrong? Placerat posuere neque, at dignissim magna ullamcorper in aliquam.</p>
    </div>
    <div class="col-xs-4">
  <img class="img-responsive img-circle" src="http://shechive.files.wordpress.com/2010/04/hollywood-douche-club-14.jpg">
    <h3>Mickey T</h3>
    <h5>Security</h5>
    <p>There's my life. Deal with it. Oh, wait! Can't process it. Losers! WINNING! B'bye. Major League 3? I don't know. I haven't read it. I don't care.</p>
    </div>
  </div>
</div>
