<div class="container">
  <div class="carousel slide" id="flushbro-carousel" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#flushbro-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#flushbro-carousel" data-slide-to="1"></li>
      <li data-target="#flushbro-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="http://www.roadandtrack.com/cm/roadandtrack/images/Do/2012-ford-mustang-boss-302-1-lg.jpg" >
        <div class="carousel-caption">
          <h1>Driven to success</h1>
          <p>Success... it feels so good.</p>
        </div>
      </div>
      <div class="item">
        <img src="http://clubugly.com/wp-content/uploads/2012/10/wide-bottles-of-beer-in-ice.jpg">
        <div class="carousel-caption">
         <h1> Mmm... Brewskis</h1>
        </div>
      </div>

      <div class="item">
        <img src="http://www.allmaxnutrition.com/wp-content/themes/allmax/images/headers/articles-training.jpg">
        <div class="carousel-caption">
          ...
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#flushbro-carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#flushbro-carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

  <div class='row'>
    <div class="col-xs-2">
      <div class="sidebar">
        <h3>Navbar</h3>

        <ul class="nav navbar-nav">
          <li><a href="#tip-1">Bro Tip #74</a></li>
          <li><a href="#tip-2">Cuppy Cake, brah</a></li>
          <li><a href="#tip-3">No man, I don't eat pork</a></li>
          <li><a href="#tip-4">Hold on to your butts</a></li>
        </ul>
      </div>

    </div>
    <div class='col-xs-6 bro-text' data-spy="scroll" data-target=".sidebar" data-offset="0">
      <h2 id="tip-1">Bro Tip #74</h2>
      <p>A Bro respects his Bros in the military because they’ve selflessly chosen to defend the nation, but more to the point, because they can kick his ass six ways to Sunday.</p>
       <p>A Bro will drop whatever he is doing and rush to help his Bro dump his chick..</p>
        <p>Should a Bro become stricken with engagement, his Bros shall stage an intervention and attempt to heal him. This is more commonly known as “a bachelor party.”.</p>
      <h2 id="tip-2">Cuppy Cake, brah</h2>
      <p>Dragée sugar plum candy canes I love halvah. Brownie pastry jelly beans gummi bears chupa chups carrot cake dragée. Carrot cake I love pastry toffee pie cotton candy pastry. Ice cream sugar plum carrot cake gummi bears lollipop chocolate danish I love. Candy canes cupcake jelly beans fruitcake. Pastry biscuit tootsie roll apple pie cupcake tiramisu.
Applicake tootsie roll candy canes wafer cheesecake. Jujubes pastry jelly-o jelly-o. I love gingerbread I love marzipan sugar plum. Gummi bears tiramisu candy I love. Chocolate cake wafer fruitcake gummi bears gingerbread chocolate cake I love dessert biscuit. Cupcake muffin muffin I love tootsie roll croissant fruitcake. Powder liquorice gummies biscuit cake cupcake lollipop. Powder marshmallow pastry sesame snaps toffee I love powder caramels macaroon. Sesame snaps sugar plum bonbon icing I love toffee halvah tiramisu.
Toffee I love croissant. Sesame snaps dessert sugar plum. Jujubes lollipop unerdwear.com cheesecake sweet roll ice cream chocolate bar oat cake macaroon. I love gingerbread pudding gummies brownie chocolate bar. Jujubes sweet I love topping cupcake I love chocolate cookie tootsie roll. Gummi bears powder chocolate bar. Candy apple pie liquorice. Tiramisu chocolate tart macaroon.
</p>
      <h2 id="tip-3">No man, I don't eat pork</h2>
      <p>My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand? </p>

      <h2 id="tip-4">Hold on to your butts</h2>
      <p>Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'? </p>

      <h2>I can do that</h2>
      <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee. </p>

    </div>
    <div class='col-xs-4'>
      <h3>Cool links, bro</h3>
      <ul>
        <li>
          <a class="bro-link" data-toggle="tooltip" data-placement="right" title="Cool Tooltip #1" href="#">
            Link 1
          </a>
        </li>
        <li><a class="bro-link" href="#">Link 2</a></li>
        <li><a class="bro-link" href="#">Link 3</a></li>
        <li><a class="bro-link" href="#">Link 4</a></li>
        <li><a class="bro-link" href="#">Link 5</a></li>
      </ul>
    </div>
  </div>
</div>