<div class="container">
<h1><%= @user.username %></h1>

<p>Hello, dear user!</p>
<img class="img-circle" src="http://displaypix.com/images/items/itm_awesome-alone-and-sad-boys-pictures-for-display2013-05-22_23-34-13_10.jpg">


</div>
